:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.header {
    background-color: aquamarine;
}

.error {
    background-color: darksalmon;
}
button {
    width: 100%;
}