<div class="operations">
    <button (click)="onClear()" class="btn">Clear tree</button>
    <button (click)="onDelete()" class="btn">Delete node</button>
    <button (click)="onCreateRoot()" class="btn">Create root</button>
    <button (click)="onCreate()" class="btn">Create node</button>
    <button (click)="onEdit()" class="btn">Edit node</button>
    <ng-container *ngIf="operation==='createLeaf'">
        <node (updatedNode)="handleUpdateNode($event)"  [selectedNode]="selectedMember"></node>
    </ng-container>
    <ng-container *ngIf="operation==='edit'">
        <node (updatedNode)="handleUpdateNode($event, true)"  [selectedNode]="selectedMember" [edit]="true"></node>
    </ng-container>
    <ng-container *ngIf="operation==='createRoot'">
        <app-tree-root (triggerUpdate)="handleUpdate($event)"></app-tree-root>
    </ng-container>
</div>


<ng-container *ngIf="tree$ | async as tree ">
    <family-tree (onLeafSelected)="onLeafSelected($event)" [family]="tree"></family-tree>
</ng-container>
